<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LonswayWebsite</title>
  <link rel="stylesheet" href="static/my_style.css">
</head>

<h2>About Me -- this is my bio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
<p>Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Nunc dignissim risus id metus.</p>
<p>Curabitur sit amet mauris morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa.</p>
